/* ProgrammersTab layout */
.programmers-tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.project-tab-panel-title {
  margin-bottom: 0.5rem;
}
