.forgot-back-link {
  margin: 1rem 0 0;
  font-size: 0.875rem;
}

.forgot-back-link a {
  color: var(--primary-green);
  text-decoration: none;
  font-weight: 500;
}

.forgot-back-link a:hover {
  text-decoration: underline;
}
